/*
TABLE OF CONTENTS
  1. Color Palette
  2. Global Navigation Styles
  3. Assignment 2B
    3a. 2B Base Styles
    3b. Button
    3c. Animated Phrase
    3d. Animated Word
    3e. Animated Cloud
    3f. 2B Responsive
  4. Assignment 2C
    4a. Base Styles
    4b. Animated Pumpkin
    4c. Animated Text
  5. Assignment 1C 
    5a. 1C Base Styles
    5b. Profile
    5c. Projects
    5d. Work Experience
    5e. Education
    5f. Contact Info
    5g. 1C Responsive Styles

/*
1. COLOR PALETTE
#211E1C - dark brown - almost black
#63A088 - medium green
#F4F3EE - almost white
#EED3D5 - light pink

*/
/* ########## 2. Global Styles ########## */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Right Aligned Menu Links code from https://www.w3schools.com/howto/howto_css_topnav_right.asp 
   - I changed the background and text colors
   - I made the padding bigger
   - I made the font size bigger
   - I removed the background color and changed the text color on hover
*/

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgba(244, 243, 238, 0.5);
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: #211E1C;
padding: 15px 25px;
text-decoration: none;
text-align: left;
}

/* Change the color of links on hover */
.topnav a:hover {
color: #63A088;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
float: right;
}

/* End of Right Aligned Menu Links code*/

ul {
  margin: 0;
  padding: 0;
}

.logotype-img {
  width: 20%;
  height: 20%;
}

/* ########## 3. Assignment 2B ########## */

/* ########## 3a. Base Styles ########## */
.body-2b {
  background-color: #EED3D5;
  color: #211e1c;
  font-family: roc-grotesk, sans-serif;
  margin: 0;
}
.h1-2b {
  font-size: 2.5em;
  text-align: center;
}

.container-2b {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 20px;
  grid-template-areas:
    "button phrase animated-word"
    "clouds clouds clouds";
}

/* ########## 3b. Button ########## */

.button-2b {
  background-color: rgb(99, 160, 136, 0.5);
  border: solid 2px #63a088;
  padding: 10px;
  font-family: roc-grotesk, sans-serif;
  font-size: 1em;
  width: 50%;
  grid-area: button;
}
.button-2b {
  transition: background 0.4s ease-in, transform 0.2s 0.1s ease-in-out,
    border-radius 0.3s ease-in;
}
.button-2b:hover {
  transform: scale(1.1);
  background: #63a088;
  color: #f4f3ee;
  border-radius: 5px;
}
.btn-wrap {
  display: flex;
  justify-content: center;
}

/* ########## 3c. Animated Word ########## */

@keyframes scaleDown {
  0% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.h3-2b {
  font-size: 1.5em;
  padding: 10px;
  text-align: center;
  margin: 0;
  grid-area: animated-word;

  animation: scaleDown 3s 1s backwards infinite;
}

.word-wrap {
  width: 400px;
}

/* ########## 3d. Animated Phrase ########## */

.p-2b {
  font-size: 1em;
  letter-spacing: 0.15em;
  margin: 0;
  padding: 10px;
  border-right: 0.15em solid #63a088;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;

  animation: typing 5s steps(35) infinite, blinking 0.5s steps(1) infinite;
}

.p-wrap {
  width: 480px;
  grid-area: phrase;
}

@keyframes typing {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

@keyframes blinking {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: #63a088;
  }
}

/* ########## 3e. Animated Cloud ########## */

.cloud-wrap {
  grid-area: clouds;
  overflow: hidden;
}

.cloud {
  display: flex;
  margin: 25px;
}

@keyframes float {
  0% {
    transform: translateX(-330px);
  }
  100% {
    transform: translateX(1520px);
  }
}

.cloud01 {
  animation: float 40s linear infinite;
}

.cloud02 {
  animation: float 45s 6s linear infinite backwards;
}

/* ########## 3f. 2B Responsive Styles ########## */

@media screen and (max-width: 1150px) {
  body {
    margin: 25px;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "button"
      "phrase"
      "animated-word"
      "clouds";
  }

  h1 {
    text-align: left;
  }
  button {
    width: 200px;
  }

  .btn-wrap {
    display: flex;
    justify-content: flex-start;
  }

  .p-wrap {
    display: flex;
    justify-content: flex-start;
  }

  .word-wrap {
    justify-content: flex-start;
  }

  @keyframes float {
    0% {
      transform: translateX(-250px);
    }
    100% {
      transform: translateX(1150px);
    }
  }
}

@media screen and (max-width: 480px) {
  @keyframes float {
    0% {
      transform: translateX(-250px);
    }
    100% {
      transform: translateX(480px);
    }
  }
}

/* ########## 4. Assignment 2C ########## */

/* ########## 4a. Base Styles ########## */

.body-1c {
  background-color: #EED3D5 ;
  color: #211E1C;
  font-family: 'Grenze Gotisch', cursive;
}

.h1-2c {
  font-family: 'Grenze Gotisch', cursive;
  font-size: 2.5em;
  text-align: center;
}

/* ########## 4b. Animated Pumpkin ########## */

.pumpkin {
  width: 25%;
  height: 25%;
  offset-path: path('M-117.04,209.5H1.28c91.5-104.02,251.29-109.38,351.16,0c47.67,0,70.46,0,118.13,0');
  animation: fly 10s ease-in infinite;
}

.pumpkin-wrap {
  display: flex;
  justify-content: center;
}

@keyframes fly {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

.pumpkin .st2{
  animation: glow 10s infinite;
}

@keyframes glow {
  0% {
    fill: #1c1503;
    stroke: #1c1503;
  }
  100% {
    fill: #ffd712;
    stroke: #fce15e;
  }
}

/* ########## 4c. Animated Text ########## */

.h2-2c {
  font-family: 'Grenze Gotisch', cursive;
  font-size: 2em;
  text-align: center;
  animation: variable 7s linear infinite;
}

@keyframes variable {
  0% {
    font-variation-settings: "wght" 100;
  }
  100% {
    font-variation-settings: "wght" 900;
  }
}

/* ########## 5. Assignment 1C ########## */

/* ########## 5a. Base Styles ########## */

.body-1c {
  color: #211e1c;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
img {
  width: 300px;
}
a:hover {
  text-decoration: none;
}
.h1-1c {
  font-size: 100px;
  line-height: 1;
}
h2 {
  font-size: 45px;
}
.h1-1c, h2 {
  font-family: "Righteous", cursive;
  font-weight: 400;
  margin: 0;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}
h3 {
  margin-bottom: 0;
}
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider > section {
  border-bottom: 1px dashed #211e1c;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}

/* ########## 5b. Profile ########## */

header {
  background-image: url(img/gradienta-faXXUrNbH1c-unsplash.jpg);
  background-size: cover;
  background-position: center;
  color: #211e1c;
}
header h2 {
  margin-top: 20px;
}

/*Dropdown menu code properties from w3schools https://www.w3schools.com/css/css_dropdowns.asp 
  - I positioned the dropdown menu on the left of the page
  - I added margin space between the menu button and the page end
  - I styled the menu button, and it's hover state
  - I styled the menu links, and their hover and active states
  - I 
*/
/* Style The Dropdown Button */
.dropbtn {
  background-color: #63a088;
  color: #f4f3ee;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  float: left;
  margin-left: 50px;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f4f3ee;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: #211e1c;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #eed3d5;
}
.dropdown-content a:active {
  background-color: pink;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: rgb(99, 160, 136, 0.7);
}

/* ########## 5c. Project Styles ########## */

.projects {
  background: #f4f3ee;
}

.projects .btn {
  color: #f4f3ee;
  background: #63a088;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.projects .btn:hover {
  background: rgba(99, 160, 136, 80%);
}
.project-item {
  overflow: hidden;
}

/* CSS-only modal by Marko on Codepen https://codepen.io/denic/pen/ZEbKgPp?editors=1100 
   - I removed the wrapper styles because I didn't want the button to be centered in another container
   - I changed the modal link background color, text color and font family, and removed the text transform
   - I changed the width of the modal content container and the background color
   - I added modal image styles to center the image in the container
   - I removed the modal footer styles 
*/

/* If you like this, be sure to ❤️ it. */
.wrapper a {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  background-color: #63a088;
  border-radius: 3px;
  color: #f4f3ee;
  font-family: "Montserrat", sans-serif;
}
.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.7);
}
.modal:target {
  visibility: visible;
  opacity: 1;
}
.modal__content {
  border-radius: 4px;
  position: relative;
  width: 450px;
  max-width: 90%;
  background: #eed3d5;
  padding: 1em 2em;
}
.modal__content > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
}

/* ########## 5d. Work Experience ########## */

.work-experience {
  background: #eed3d5;
}

/* ########## 5e. Education ########## */

.education {
  background: #f4f3ee;
  padding-bottom: 100px;
}
.education p {
  width: 60%;
}

/* ########## 5f. Contact ########## */

footer {
  background-image: url(img/gradienta-faXXUrNbH1c-unsplash.jpg);
  background-size: cover;
  background-position: center;
  color: #211e1c;
}
a {
  color: #211e1c;
}
.contact-list {
  list-style-type: none;
  padding: 0;
}
.contact-list a {
  padding: 15px;
  display: inline-block;
}

/* ########## 5g. 1C Responsive Styles ########## */

@media screen and (min-width: 750px) {
  header,
  footer {
    text-align: center;
  }
  .project-item img {
    float: left;
    margin: 20px;
  }
  .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
  .contact-list {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 749px) {
  h1 {
    font-size: 75px;
    line-height: 0.9;
    margin-bottom: 20px;
  }
  h2 {
    line-height: 1;
  }
  .contact-list a {
    padding: 5px;
  }
}
