
/* ########## Global Styles ########## */

body {
    background-color: #EED3D5;
    color: #211E1C;
    font-family: roc-grotesk, sans-serif;
    margin: 25px;
}
h1 {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: repeat(2, 2fr);
    grid-gap: 20px;
}

/* ########## Button Styles ########## */
button {
    background-color: rgb(99, 160, 136, 0.5);
    border: solid 2px #63A088;
    font-family: roc-grotesk, sans-serif;

}

}
}





















